<% // create a list of javascript files to have the header load %>
<% var js_include = ['edit_doctor.js']; %>
<% include header %>

<div id ="section">
    <!-- Note that this is a post -->
    <form id="edit_doctor_form" action="<%= action %>">
        <table id="login">
            <input type="hidden" name="doctorid" id="doctorid" value="<%=rs[0].DoctorID%>" />
            <tr><td>First Name:</td>
                <td><input type="text" id="fname" name="fname" value="<%=rs[0].FirstName%>"/></td>
            </tr>
            <tr><td>Last Name:</td>
                <td><input type="text" id="lname" name="lname" value="<%=rs[0].LastName%>" /></td>
            </tr>
            <tr><td>Specialty:</td>
                <td><input type="text" id="specialty" name="specialty" value="<%=rs[0].Specialty%>"/></td>
            </tr>

        </table>
        <!-- not that we use a button here and not submit -->
        <input type="button" id="editDoctorBtn" value="Update" />
    </form>


    <div id="output" style="margin:10px;display:none"></div>

</div>

<% include footer %>